.bg-aqua-custom {
  background-image: linear-gradient(45deg, #08667c, transparent) !important;
}

.bg-green-custom {
  background-image: linear-gradient(45deg, #0a5834, transparent) !important;
}

.bg-yellow-custom {
  background-image: linear-gradient(45deg, #784c08, transparent) !important;
}

.bg-red-custom {
  background-image: linear-gradient(45deg, #781003, transparent) !important;
}

.small-box {
  border-radius: 10px;
}

.small-box-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dropbox {
  box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
}

div.custom-box-body::-webkit-scrollbar {
    width: 12px;
}
 
div.custom-box-body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3); 
    border-radius: 2px;
}
 
div.custom-box-body::-webkit-scrollbar-thumb {
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
}

div.custom-box-body:hover {
  overflow-y: auto!important;
}

.dataTables_filter {
    text-align: right !important;
}