
            .bg-yellow2 {
                background-color: #ebf820 !important;
            }

            .bg-yellow2:hover {
                background-color: #d7e31a !important;
            }

            .bg-red2 {
                background-color: #c20e41 !important;
            }

            .bg-red2:hover {
                background-color: #a40d37 !important;
            }

            .bg-blue2 {
                background-color: #1345a0 !important;
            }

            .bg-blue2:hover {
                background-color: #0c3683 !important;
            }

            .bg-green2 {
                background-color: #13a016 !important;
            }

            .bg-warning {
                background-color: #ffc107;
            }

            .bg-warning:hover {
                background-color: #ffc107 !important;
                color: black;
            }

            .bg-green2:hover {
                background-color: #108712 !important;
            }

            .zoom {
                z-index: 1;
                transition: transform .5s;
                /* Animation */
            }

            .zoom:hover {
                z-index: 9999;
                /*margin-top: 13px !important;*/
                /*margin-bottom: 13px !important;*/
                transform: scale(1.1);
                /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            }

            .info-box .info-box-number {
                display: block;
                margin-top: 0.25rem;
                font-weight: 700;
            }

            .info-box .info-box-content {
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-flex-direction: column;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                justify-content: center;
                line-height: 1.8;
                -webkit-flex: 1;
                -ms-flex: 1;
                flex: 1;
                padding: 0 10px;
            }

            /* Custom nav-tabs */
            .tab-content {
                border-bottom: 1px solid #ddd;
                border-left: 1px solid #ddd;
                border-right: 1px solid #ddd;
                display: block;
                border-radius: 0 0 0.25em 0.25em;
            }

            .tab-content .tab-pane {
                text-align: left;
                padding: 10px;
            }

            .tab-content .tab-pane h3 {
                margin: 0;
            }

            .cd-breadcrumb {
                padding: 6px 7px;
                margin: 0;
                background-color: transparent;
                border-radius: 0.25em 0.25em 0 0;
            }

            .cd-breadcrumb.nav-tabs {
                border-left: 1px solid #ddd;
                border-top: 1px solid #ddd;
                border-right: 1px solid #ddd;
                border-bottom: none;
            }

            .cd-breadcrumb.nav-tabs>li.active>a,
            .cd-breadcrumb.nav-tabs>li.active>a:hover,
            .cd-breadcrumb.nav-tabs>li.active>a:focus {
                color: #fff;
                background-color: #144677;
                border: 0px solid #144677;
                cursor: default;
            }

            .cd-breadcrumb.nav-tabs>li>a {
                margin-right: inherit;
                line-height: inherit;
                height: 48px;
                border: inherit;
                border-radius: inherit;
                border-color: #edeff0;
            }

            .cd-breadcrumb li {
                display: inline-block;
                float: left;
                margin: 0.5em 0;
            }

            .cd-breadcrumb li::after {
                /* this is the separator between items */
                display: inline-block;
                content: '\00bb';
                margin: 0 0.6em;
                color: tint(#144677, 50%);
            }

            .cd-breadcrumb li:last-of-type::after {
                /* hide separator after the last item */
                display: none;
            }

            .cd-breadcrumb li>* {
                /* single step */
                display: inline-block;
                font-size: 1.4rem;
                color: #144677;
            }

            .cd-breadcrumb li.current>* {
                /* selected step */
                color: #144677;
            }

            .cd-breadcrumb a:hover {
                /* steps already visited */
                color: #144677;
            }

            .cd-breadcrumb.custom-separator li::after {
                /* replace the default arrow separator with a custom icon */
                content: '';
                height: 16px;
                width: 16px;
                vertical-align: middle;
            }

            .cd-breadcrumb li {
                margin: 1.2em 0;
            }

            .cd-breadcrumb li::after {
                margin: 0 1em;
            }

            .cd-breadcrumb li>* {
                font-size: 1.6rem;
            }

            .cd-breadcrumb.triangle li {
                position: relative;
                padding: 0;
                margin: 0 4px 0 0;
            }

            .cd-breadcrumb.triangle li:last-of-type {
                margin-right: 0;
            }

            .cd-breadcrumb.triangle li .octicon {
                margin-right: 10px;
            }

            .cd-breadcrumb.triangle li>* {
                position: relative;
                padding: 0.8em 0.8em 0.7em 2.5em;
                color: #333;
                background-color: #edeff0;
                /* the border color is used to style its ::after pseudo-element */
                border-color: #edeff0;
            }

            .cd-breadcrumb.triangle li.active>* {
                /* selected step */
                color: #fff;
                background-color: #144677;
                border-color: #144677;
            }

            .cd-breadcrumb.triangle li:first-of-type>* {
                padding-left: 1.6em;
                border-radius: 4px 0 0 4px;
            }

            .cd-breadcrumb.triangle li:last-of-type>* {
                padding-right: 1.6em;
                border-radius: 0 0.25em 0.25em 0;
            }

            .cd-breadcrumb.triangle a:hover {
                /* steps already visited */
                color: #fff;
                background-color: #144677;
                border-color: #144677;
                text-decoration: none;
            }

            .cd-breadcrumb.triangle li::after,
            .cd-breadcrumb.triangle li>*::after {
                /* li > *::after is the colored triangle after each item li::after is the white separator between two items */
                content: '';
                position: absolute;
                top: 0;
                left: 100%;
                content: '';
                height: 0;
                width: 0;
                /* 48px is the height of the <a> element */
                border: 24px solid transparent;
                border-right-width: 0;
                border-left-width: 20px;
            }

            .cd-breadcrumb.triangle li::after {
                /* this is the white separator between two items */
                z-index: 1;
                -webkit-transform: translate(4px, 0);
                -ms-transform: translate(4px, 0);
                -o-transform: translate(4px, 0);
                transform: translate(4px, 0);
                border-left-color: #fff;
                /* reset style */
                margin: 0;
            }

            .cd-breadcrumb.triangle li>*::after {
                /* this is the colored triangle after each element */
                z-index: 2;
                border-left-color: inherit;
            }

            .cd-breadcrumb.triangle li:last-of-type::after,
            .cd-breadcrumb.triangle li:last-of-type>*::after {
                /* hide the triangle after the last step */
                display: none;
            }
        