
.text-header{
  font-family:'Times New Roman', Times, serif; 
  text-align: center;
  font-weight: bolder;
}
.table-label{
  font-family:Arial, Helvetica, sans-serif; 
  padding: 5px;
  color:white;
  background-color: rgb(43, 42, 42);
}
.table-text{
  font-family:Arial, Helvetica, sans-serif; 
  padding: 5px;
  background-color: rgb(189, 178, 184);
  font-weight:bolder;
  font-size: 17px;
}
/* checkbox */
.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}
.checked_request:checked {
  background-color: #198754;
  border-color: #0d6efd;
}
.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.form-check-input[type=checkbox] {
  border-radius: .25em;
}

.form-check-input {
  width: 2em;
  height: 2em;
  margin-top: .25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}
.checkboxtext
{
/* Checkbox text */
font-size:20px;
display: inline;
}
.checkboxSub
{
/* Checkbox text */
font-size:17px;
display: inline;
}

/* ribbon */
@import url(https://fonts.googleapis.com/css?family=Lato:700);

.box {
  position: relative;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

/* common */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #811616;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}
